{% extends "verblog/base.html" %}
{% block content %}
<h1>Blog items</h1>
<ul>
{% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% empty %}
    <li>No entries yet.</li>
{% endfor %}
</ul>
{% endblock content %}